body {
    background-color: #282c34; /* Fondo oscuro */
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro translúcido */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%;
    max-width: 900px;
}

canvas {
    width: 100% !important;
    height: 500px !important; /* Ajustamos la altura del gráfico */
}

select {
    padding: 12px;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: white;
    border: 1px solid #555;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #FF5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #FF3D00;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #FF5733; /* Rojo fuerte para el botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #FF3D00; /* Rojo más oscuro */
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}
